<!DOCTYPE html>
<html lang="en">

<head>
    <title>Management - KVARTech DATABASE</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <!-- Favicon icon -->
    <!-- <link rel="shortcut icon" href="/static/assets/images/favicon.png" type="image/x-icon"> -->
    <!-- <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon"> -->

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

    <!-- themify -->
    <link rel="stylesheet" type="text/css" href="/static/assets/icon/themify-icons/themify-icons.css">

    <!-- iconfont -->
    <link rel="stylesheet" type="text/css" href="/static/assets/icon/icofont/css/icofont.css">

    <!-- simple line icon -->
    <link rel="stylesheet" type="text/css" href="/static/assets/icon/simple-line-icons/css/simple-line-icons.css">

    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/static/assets/plugins/bootstrap/css/bootstrap.min.css">

    <!-- Chartlist chart css -->
    <link rel="stylesheet" href="/static/assets/plugins/chartist/dist/chartist.css" type="text/css" media="all">

    <!-- Weather css -->
    <link href="/static/assets/css/svg-weather.css" rel="stylesheet">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/static/assets/css/main.css">

    <!-- Responsive.css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/responsive.css">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css">
    <link rel="stylesheet" type="text/css" href="/static/management-style.css">

    <style>
        /* .form-control,
        .custom-select {
            border: 1px solid #007bff;
            border-radius: 0.25rem !important;
            height: 3% !important;
            width: 100% !important;
            font-size: 1.1rem;
        }
        
        .form-control:focus,
        .custom-select:focus {
            border-color: #0056b3;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
        }
        /* .form-group {
            margin-bottom: 1% !important;
        } */

        .form-control {
            margin-top: 1% !important;
        }

        .form-control {
            margin-right: 1.5% !important;
        }

        */
    </style>

</head>

<body class="sidebar-mini fixed">
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <div class="wrapper">
        <!-- Navbar-->
        <header class="main-header-top hidden-print">
            <a href="/dashboard" class="logo"><img src="/static/assets/images/logo.png" alt="Theme-logo"
                    style="width: 140px; height: 55px;"></a>
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
                <ul class="top-nav lft-nav">
                    <li class="dropdown pc-rheader-submenu message-notification search-toggle">
                    </li>
                </ul>
                <ul class="top-nav">
                    <!--Notification Menu-->
                    <!-- window screen -->
                    <li class="pc-rheader-submenu">
                        <a href="#!" class="drop icon-circle" onclick="javascript:toggleFullScreen()">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                    <!-- User Menu-->
                    <li class="dropdown">
                        <a href="#!" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"   
                            class="dropdown-toggle drop icon-circle drop-image">
                            <span id="username-placeholder">John Doe</span>
                            <span hidden id="usernameID-placeholder">John Doe</span><i
                                class="icofont icofont-simple-down"></i>
                        </a>
                        <ul class="dropdown-menu settings-menu">
                            <li><a href="/"><i class="icon-logout"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>


        </header>
        <!-- Side-Nav-->
        <aside class="main-sidebar hidden-print ">
            <section class="sidebar" id="sidebar-scroll">
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li class="nav-level">--- Navigation</li>
                    <li class="active treeview">
                        <a class="waves-effect waves-dark" href="/dashboard">
                            <i class="icon-speedometer"></i><span> Dashboard</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a class="waves-effect waves-dark" href="#"><i class="icon-list"></i><span>
                                Table</span><i class="icon-arrow-down"></i></a>
                        <ul class="treeview-menu">
                            <li><a class="waves-effect waves-dark" href="/team-table"><i
                                        class="icon-arrow-right"></i>Team
                                    Table</a></li>
                            <li>
                                <a class="waves-effect waves-dark" href="#"><i></i>Management <i
                                        class="icon-arrow-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a class="waves-effect waves-dark" href="/management"><i
                                                class="icon-arrow-right"></i>Edit</a></li>
                                    <li><a class="waves-effect waves-dark" href="/gnatt"><i
                                                class="icon-arrow-right"></i>View</a></li>
                                </ul>
                            </li>
                        </ul>
            </section>
        </aside>
        <!-- Sidebar chat start -->
        <div id="sidebar" class="p-fixed header-users showChat">
            <div class="had-container">
                <div class="card card_main header-users-main">
                    <div class="card-content user-box">

                        <div class="md-group-add-on p-20">
                            <span class="md-add-on">
                                <i class="icofont icofont-search-alt-2 chat-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Management</h4>
                        </div>
                    </div>
                </div>
                <!-- <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Date Selector</h5>
                            </div>
                            <div class="card-block">
                                <div class="date-selector d-flex align-items-center justify-content-center">
                                    <label for="from-date" class="me-2">From Date:</label>
                                    <input type="date" id="from-date" name="from-date" class="form-control me-4"
                                        style="max-width: 200px;">

                                    <label for="to-date" class="me-2">To Date:</label>
                                    <input type="date" id="to-date" name="to-date" class="form-control"
                                        style="max-width: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- 4-blocks row start -->
                <div class="row dashboard-header">
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-product">
                            <span>Late Orders</span>
                            <h2 id="pastDueOrderCount">
                                <span id="countValuerow"></span>
                            </h2>
                            <div class="side-box"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-product">
                            <span>Open Orders</span>
                            <h2 id="openOrderCount">
                                <span id="openOrderValue"></span>
                            </h2>
                            <div class="side-box"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-product">
                            <span>Late Orders Balance Amount</span>
                            <h2 class="pendingbalanceamount">
                                <span id="totalbalancePendingOrders"></span>
                            </h2>
                            <div class="side-box"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="card dashboard-product">
                            <span>Total Balance Amount</span>
                            <h2 id="totalbalanceamount">
                                <span id="totalbalance"></span>
                            </h2>
                            <div class="side-box"></div>
                        </div>
                    </div>
                </div>

                <!--    <div class="row" style="border: 1px solid black; padding: 0% !important; padding-bottom: 0 !important; margin: 2% !important; border-radius: 5px; background-color: #ffffffa4; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);">
                    <center>
                        <div class="progress-container">
                            <div class="progress-bar" id="progressBar" style="width: 0%;"></div>
                            <div class="step">
                                <div class="circle" id="step1">1</div>
                                <div class="label">Sales</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step2">2</div>
                                <div class="label">Purchase</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step3">3</div>
                                <div class="label">Stores</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step4">4</div>
                                <div class="label">R&D</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step5">5</div>
                                <div class="label">Production</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step6">6</div>
                                <div class="label">QC</div>
                            </div>
                            <div class="step">
                                <div class="circle" id="step7">7</div>
                                <div class="label">Accounts</div>
                            </div>
                        </div>
                        <br>

                    </center>
                </div> -->

                <style>
                    .form-control,
                    .custom-select {
                        border: 1px solid #007bff;
                        border-radius: 0.25rem !important;
                        height: 3% !important;
                        width: 100% !important;
                        font-size: 1.1rem;
                    }

                    .form-control:focus,
                    .custom-select:focus {
                        border-color: #0056b3;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }

                    /* .form-group {
                        margin-bottom: 1% !important;
                    } */

                    .form-control {
                        margin-top: 1% !important;
                    }
                </style>



                <style>
                    .progress-container {
                        width: 90%;
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        padding: 10px 0;
                        align-items: flex-start;
                    }

                    .progress-bar {
                        position: absolute;
                        top: 38%;
                        left: 0;
                        height: 4px;
                        background-color: #4caf50;
                        z-index: 1;
                        transform: translateY(-50%);
                    }

                    .step {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }

                    .circle {
                        width: 40px;
                        height: 40px;
                        background-color: #4DD6C3;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        z-index: 2;
                        color: white;
                        font-weight: bold;
                    }

                    .circle.completed {
                        background-color: #3A7D7A;
                    }

                    .label {
                        text-align: center;
                        margin-top: 5px;
                        color: #555;
                        font-size: 12px;
                    }
                </style>



                <style>
                    .form-control,
                    .custom-select {
                        border: 1px solid #007bff;
                        border-radius: 0.25rem !important;
                        height: 3% !important;
                        width: 100% !important;
                        font-size: 1.1rem;
                    }

                    .form-control:focus,
                    .custom-select:focus {
                        border-color: #0056b3;
                        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
                    }

                    .form-control {
                        margin-top: 1% !important;
                    }
                </style>
                <div class="teamDataTableContainer">
                    <table class="table" id="teamDataTable">
                        <thead>
                            <tr>
                                <th>OA Number</th>
                                <th>OA Date</th>
                                <th>Customer Name</th>
                                <th>Item Code</th>
                                <th>Dc Qty</th>
                                <!-- <th>Bal Qty</th> -->
                                <th>Delivery Date</th>
                                <th>Status</th>
                                <!-- <th>Notes</th> -->
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            <!-- Table rows will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
                <div class="orderSummaryTableContainer">
                    <!-- Second Table -->
                    <table class="table" id="orderSummaryTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No. of Orders</th>
                                <th>Order Value</th>
                                <th>Percentage</th> <!-- New column -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Total Orders</td>
                                <td id="totalOrders">0</td>
                                <td id="totalOrderValue">$0.00</td>
                                <td id="totalOrdersPercentage">100%</td> <!-- New cell -->
                            </tr>
                            <tr>
                                <td>Delayed Orders</td>
                                <td id="delayedOrders">0</td>
                                <td id="delayedOrderValue">$0.00</td>
                                <td id="delayedOrdersPercentage">0%</td> <!-- New cell -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                

                <!-- Required Jquery -->
                <script src="/static/assets/plugins/jquery/dist/jquery.min.js"></script>
                <script src="/static/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
                <script src="/static/assets/plugins/tether/dist/js/tether.min.js"></script>
                <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
                <script src="/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
                <script src="/static/assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>
                <script src="/static/assets/plugins/classie/classie.js"></script>
                <script src="/static/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
                <script src="/static/assets/plugins/jquery-sparkline/dist/jquery.sparkline.js"></script>
                <script src="/static/assets/plugins/waypoints/jquery.waypoints.min.js"></script>
                <script src="/static/assets/plugins/countdown/js/jquery.counterup.js"></script>
                <script src="/static/assets/plugins/charts/echarts/js/echarts-all.js"></script>
                <script src="/static/assets/plugins/todo/js/todo.js"></script>
                <script src="/static/assets/pages/dashboard.js"></script>
                <script src="/static/assets/js/main.min.js"></script>
                <script src="/static/assets/js/menu.min.js"></script>
                <script src="/static/assets/js/custom.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

                <!-- Flatpickr JS -->
                <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
                <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
                <script src="/static/management-script.js"></script>
                <script src="/static/index-script.js"></script>
                <script src="/static/table-script.js"></script>
                <script src="/static/assets/js/menu.min.js"></script>

                <script>
                    $(document).ready(function () {
                        $.ajax({
                            url: '/api/user',
                            method: 'GET',
                            success: function (data) {
                                // console.log('AJAX request successful:', data.name);
                                $('#username-placeholder').text(data.name);
                            },
                            error: function (err) {
                                console.log('Error fetching user data:', err);
                            }
                        });
                    });
                    fetch('http://192.168.131.92:3002/api/team_data')
                        .then((response) => {
                            console.log('API Response received:', response);
                            return response.json(); // Parse the JSON response
                        })
                        .then((data) => {
                            console.log('Data received from API:', data);
                            const filteredRows = [];
                            data.rows.forEach((row, index) => {
                            if(row.complete === false || row.complete === null){
                                filteredRows.push(row);
                            }else{
                                return;
                            }
                            // Ensure data.rows is an array
                            if (data && Array.isArray(data.rows)) {
                               
                                const currentDate = new Date();
                                // console.log('Current Date:', currentDate);

                                let totalOrders = filteredRows.length;
                                console.log('Total Orders:', totalOrders);

                                let delayedOrders = 0;

                                // Calculate delayed orders
                                filteredRows.forEach((order, index) => {
                                    const deliveryDate = new Date(order.delivery_date);
                                    // console.log(`Order ${index + 1} - Delivery Date:`, deliveryDate);

                                    if (deliveryDate < currentDate) {
                                        delayedOrders++;
                                        // console.log(`Order ${index + 1} is delayed.`);
                                    }
                                });

                                // console.log('Total Delayed Orders:', delayedOrders);

                                // Populate the table
                                document.getElementById('totalOrders').innerText = totalOrders;
                                document.getElementById('delayedOrders').innerText = delayedOrders;

                                // Calculate total and delayed order values
                                let totalOrderValue = filteredRows.reduce((acc, order) => {
                                    const balance = parseFloat(order.balance_amount) || 0; // Ensure balance is a number
                                    // console.log(`Order Value: ₹${balance.toFixed(2)}`);
                                    return acc + balance;
                                }, 0);

                                // console.log('Total Order Value:', totalOrderValue);

                                let delayedOrderValue = filteredRows.reduce((acc, order) => {
                                    const balance = parseFloat(order.balance_amount) || 0; // Ensure balance is a number
                                    const deliveryDate = new Date(order.delivery_date);

                                    if (deliveryDate < currentDate) {
                                        // console.log(`Adding delayed order value: ₹${balance.toFixed(2)}`);
                                        return acc + balance;
                                    }
                                    return acc;
                                }, 0);

                                // console.log('Total Delayed Order Value:', delayedOrderValue);

                                // Update the table
                                document.getElementById('totalOrderValue').innerText = `₹${totalOrderValue.toFixed(2)}`;
                                document.getElementById('delayedOrderValue').innerText = `₹${delayedOrderValue.toFixed(2)}`;
                            } else {
                                console.error('Invalid data format received from API:', data);
                            }
                        })
                        .catch((error) => {
                            console.error('Error fetching data:', error);
                        });
                    });
                        

                </script>
</body>

</html>