<!DOCTYPE html>
<html lang="en">

<head>
   <title>KVARTech DATABASE - TEAM DATA</title>
   <!-- Meta -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="description" content="Quantum Able Bootstrap 4 Admin Dashboard Template by codedthemes">
   <meta name="keywords"
      content="appestia, Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
   <meta name="author" content="codedthemes">

   <!-- Favicon icon -->
   <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
   <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">

   <!-- Google font-->
   <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500,700" rel="stylesheet">

   <!-- themify -->
   <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">

   <!-- iconfont -->
   <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">

   <!-- simple line icon -->
   <link rel="stylesheet" type="text/css" href="assets/icon/simple-line-icons/css/simple-line-icons.css">

   <!-- Required Fremwork -->
   <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap/css/bootstrap.min.css">

   <!-- Style.css -->
   <link rel="stylesheet" type="text/css" href="assets/css/main.css">

   <!-- Responsive.css-->
   <link rel="stylesheet" type="text/css" href="assets/css/responsive.css">

   <link rel="stylesheet" type="text/css" href="management-style.css">

</head>

<body class="sidebar-mini fixed">
   <div class="wrapper">
      <div class="loader-bg">
         <div class="loader-bar">
         </div>
      </div>
      <!-- Navbar-->
      <!-- Sidebar toggle button-->
      <a href="#!" data-toggle="offcanvas" class="sidebar-toggle"></a>
      <!-- Navbar Right Menu-->
      <div class="navbar-custom-menu">
         <ul class="top-nav">
            <!-- window screen -->
            <!-- search end -->
      </div>
      </nav>
      </header>
      <!-- Container-fluid starts -->
      <div class="container-fluid">
         <!-- Header Starts -->
         <div class="row">
            <div class="col-sm-12 p-0">
               <div class="main-header">
                  <h4>Table</h4>
                  <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                     <li class="breadcrumb-item">
                        <a href="index.html">
                           <i class="icofont icofont-home"></i>
                        </a>
                     </li>
                     <li class="breadcrumb-item"><a href="#">Tables</a>
                     </li>
                     <li class="breadcrumb-item"><a href="team-table.html">Basic Table</a>
                     </li>
                  </ol>
               </div>
            </div>
         </div>
         <!-- Header end -->
         <!-- Tables start -->
         <!--Search-->
         <input type="text" id="searchInput" placeholder="Search...">
         <!-- Add the following dropdown menu below the search input -->
         <select id="orderCategoryFilter" class="form-control">
            <option value="">All Order Categories</option>
            <!-- Options will be dynamically added here based on data -->
         </select>

         <div class="teamDataTableContainer">
            <table class="table" id="teamDataTable">
               <thead>
                  <tr>
                     <th>Order Category</th>
                     <th>OA Number</th>
                     <th>OA Date</th>
                     <th>Customer Name</th>
                     <th>Item Code</th>
                     <th>Order Qty</th>
                     <th>Dc Qty</th>
                     <th>Bal Qty</th>
                     <th>Balance Amount</th>
                     <th>Delivery Date</th>
                     <th>Sales Late Clause</th>
                     <th>Sales Mail</th>
                     <th>Purchase Shortage</th>
                     <th>Purchase Price Hike</th>
                     <th>Purchase Material Delay</th>
                     <th>Purchase Material Receipt ETA</th>
                     <th>R&D Specification Check</th>
                     <th>R&D Finished</th>
                     <th>Prod Assembly</th>
                     <th>Prod F Testing</th>
                     <th>Prod QC</th>
                     <th>QC OQC</th>
                     <th>Stores Packing</th>
                     <th>Stores Delivery</th>
                     <th>Accounts Advance Received</th>
                     <th>Accounts Invoicing</th>
                  </tr>
               </thead>
               <tbody id="tableBody">
                  <!-- Table rows will be dynamically added here -->
               </tbody>
            </table>
         </div>

         <script src="management-script.js"></script>

         <!-- Required Jqurey -->
         <script src="assets/plugins/jquery/dist/jquery.min.js"></script>
         <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
         <script src="assets/plugins/tether/dist/js/tether.min.js"></script>

         <!-- search-->
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
         <script src="./assets/js/search.js"></script>

         <!-- Required Fremwork -->
         <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

         <!-- waves effects.js -->
         <script src="assets/plugins/Waves/waves.min.js"></script>

         <!-- Scrollbar JS-->
         <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
         <script src="assets/plugins/jquery.nicescroll/jquery.nicescroll.min.js"></script>

         <!--classic JS-->
         <script src="assets/plugins/classie/classie.js"></script>

         <!-- notification -->
         <script src="assets/plugins/notification/js/bootstrap-growl.min.js"></script>

         <!-- custom js -->
         <script type="text/javascript" src="assets/js/main.min.js"></script>
         <script type="text/javascript" src="assets/pages/elements.js"></script>
         <script src="assets/js/menu.min.js"></script>
</body>

</html>